<div class="container">
    <!-- Kayıt Formu Başlığı -->
    <h1>Kayıt Formu</h1>
    <!-- Kalem ikonu SVG olarak eklendi -->
    <svg xmlns="http://www.w3.org/2000/svg" height="200px" width="200px" viewBox="0 0 200 200" class="pencil">
        <!-- Kalem için clipPath tanımı -->
        <defs>
            <clipPath id="pencil-eraser">
                <rect height="30" width="30" ry="5" rx="5"></rect>
            </clipPath>
        </defs>
        <!-- Kalem gövdesi -->
        <circle transform="rotate(-113,100,100)" stroke-linecap="round" stroke-dashoffset="439.82" stroke-dasharray="439.82 439.82" stroke-width="2" stroke="currentColor" fill="none" r="70" class="pencil__stroke"></circle>
        <!-- Kalem gövdesi detayları -->
        <g transform="translate(100,100)" class="pencil__rotate">
            <g fill="none">
                <circle transform="rotate(-90)" stroke-dashoffset="402" stroke-dasharray="402.12 402.12" stroke-width="30" stroke="hsl(223,90%,50%)" r="64" class="pencil__body1"></circle>
                <circle transform="rotate(-90)" stroke-dashoffset="465" stroke-dasharray="464.96 464.96" stroke-width="10" stroke="hsl(223,90%,60%)" r="74" class="pencil__body2"></circle>
                <circle transform="rotate(-90)" stroke-dashoffset="339" stroke-dasharray="339.29 339.29" stroke-width="10" stroke="hsl(223,90%,40%)" r="54" class="pencil__body3"></circle>
            </g>
            <!-- Kalem silgi kısmı -->
            <g transform="rotate(-90) translate(49,0)" class="pencil__eraser">
                <g class="pencil__eraser-skew">
                    <rect height="30" width="30" ry="5" rx="5" fill="hsl(223,90%,70%)"></rect>
                    <rect clip-path="url(#pencil-eraser)" height="30" width="5" fill="hsl(223,90%,60%)"></rect>
                    <rect height="20" width="30" fill="hsl(223,10%,90%)"></rect>
                    <rect height="20" width="15" fill="hsl(223,10%,70%)"></rect>
                    <rect height="20" width="5" fill="hsl(223,10%,80%)"></rect>
                    <rect height="2" width="30" y="6" fill="hsla(223,10%,10%,0.2)"></rect>
                    <rect height="2" width="30" y="13" fill="hsla(223,10%,10%,0.2)"></rect>
                </g>
            </g>
            <!-- Kalem ucu -->
            <g transform="rotate(-90) translate(49,-30)" class="pencil__point">
                <polygon points="15 0,30 30,0 30" fill="hsl(33,90%,70%)"></polygon>
                <polygon points="15 0,6 30,0 30" fill="hsl(33,90%,50%)"></polygon>
                <polygon points="15 0,20 10,10 10" fill="hsl(223,10%,10%)"></polygon>
            </g>
        </g>
    </svg>
</div>

<div class="container">
    <!-- Form başlangıcı -->
    <div class="form-group">
        <label>Adınızı Soyadınızı Giriniz</label>
        <!-- İsim alanı -->
        <input type="text" [(ngModel)]="name">
    </div>
    <div class="form-group">
        <label>Email Adresinizi Giriniz</label>
        <!-- E-posta alanı -->
        <input type="text" [(ngModel)]="email">
    </div>
    <div class="form-group">
        <label>Doğum Tarihinizi Giriniz</label>
        <!-- Doğum tarihi alanı -->
        <input type="date" [(ngModel)]="birthDate">
    </div>
    <div class="form-group">
        <label>Şifrenizi Giriniz</label>
        <!-- Şifre alanı -->
        <input type="password" [(ngModel)]="password">
    </div>
    <div class="form-group">
        <label>Şifrenizi Tekrar Giriniz</label>
        <!-- Şifre tekrarı alanı -->
        <input type="password" [(ngModel)]="rePassword">
    </div>
    <div class="form-group">
        <label>Cinsiyetinizi Giriniz</label>
        <div>
            <!-- Cinsiyet seçimi (Erkek) -->
            <input type="checkbox" id="male" name="gender" value="male" [(ngModel)]="maleChecked" (change)="onMaleChecked()"> 
            <label for="male">Erkek</label>
        </div>
        <div>
            <!-- Cinsiyet seçimi (Kadın) -->
            <input type="checkbox" id="female" name="gender" value="female" [(ngModel)]="femaleChecked" (change)="onFemaleChecked()"> 
            <label for="female">Kadın</label>
        </div>
    </div>
    <div class="form-group">
        <label>Adresinizi Giriniz</label>
        <!-- Adres alanı -->
        <input type="text" [(ngModel)]="address">
    </div>
    <div class="form-group">
        <label>Telefon Numaranızı Giriniz</label>
        <!-- Telefon numarası alanı -->
        <input type="text" [(ngModel)]="phone">
    </div>
    <!-- Gönder butonu -->
    <button (click)="Gonder()">Tıkla</button>
    <!-- Form gönderildikten sonra gösterilecek bölüm -->
    <div *ngIf="isSubmitted">
        <h1>Gönderme işlemi başarılı!</h1>
     
        <div class="bgblue">
            <div class="card">
                <div>  <label>{{name}}</label> <!-- İsim gösterimi --></div>
                <div> <label>{{birthDate}}</label> <!-- Doğum tarihi gösterimi --></div>
                <div> <label for>{{address}}</label> <!-- Adres gösterimi --></div>
                 <div>  <label>{{phone}}</label> <!-- Telefon numarası gösterimi --></div>
            </div>
          </div>
          
    </div>
</div>
